<div class="about-Container">
    <h1>Bahja Faqid</h1>
    <h2> Software Engineering student</h2>
    <div class="image">
        <img src="/images/about.png" alt="" width="70%">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum veritatis iure, eius nisi provident dicta ipsa.
        Quaerat perferendis accusamus dicta aut dolores consectetur repellendus perspiciatis est veniam, ipsa assumenda
        doloribus.</p>

</div>