<div class="about-Container">
    <h1>Bahja Faqid</h1>
    <h2> Software Engineering student</h2>
    <div class="image">
        <img src="/images/about.png" alt="" width="70%">
    </div>
    <p>
        My name is Bahja Faqid.
        I’m currently a student at Jönkoping university pursuing a degree in software engineering .
        An enthusiastic team player, go getter and a multi-tasker with a curious mind for programming and coding.
        I like reading. I believe reading has a lot of benefits, other than learning one or two things. Reading expands
        vocabulary which is a good thing for someone like me with English as a second language. Reading increases
        wellness. And I personally find it as a good way to lower stress. But mostly I enjoy reading.
    </p>

</div>