<div class="contact-form">
    <form method="post" action="/admin">
        <h2>Post blog posts</h2>
        <div class="contact-box">
            title: <input type="text" name="title" required="required" placeholder="Title">
        </div>
        <div class="contact-box">
            Content: <textarea name="content" required="required" placeholder="Content"></textarea>
        </div>
        <div class="contact-box">
            <input type="submit" value="Post">
        </div>
    </form>
</div>