
{{#if blogposts}}
<div class="my-post">
    <h3>#{{blogposts.Id}} {{blogposts.title}}</h3>
    <p>{{blogposts.content}}</p>
    <form method="GET" action="/blogposts">
    <input type="submit" class ="btn btn-success" value="return">
    </form>
  {{/if}}
</div>