<section class="Content-info">
    <div class="Cont-info">
        <h1>Contact me</h1>
    </div>
    <div class="Con-container">
        <div class="contact-me-info">
            <div class="Con-box">
                <div class="text">
                    <h3>Address</h3>
                    <p>Gjuterigatan 5, 553 18 <br>Jönköping<br> </p>
                </div>
            </div>
            <div class="Con-box">
                <div class="text">
                    <h3>Phone</h3>
                    <p>0712345677</p>
                </div>
            </div>
            <div class="Con-box">
                <div class="text">
                    <h3>Email</h3>
                    <p>Bahja@email.com</p>
                </div>
            </div>
        </div>
        <div class="contact-form">
              <form>
            <h2>Send Message</h2>
            <div class="contact-box">
                <input type="text" name="" required="required" placeholder="Full name">
            </div>
            <div class="contact-box">
                <input type="text" name="" required="required" placeholder="Email">
            </div>
            <div class="contact-box">
                <textarea required="required" placeholder="Message" rows="5"></textarea>
            </div>
            <div class="contact-box">
                <input type="submit" name="" value="Send">
            </div>
        </form>
        </div>
    </div>

</section>