<section class="Content-info">
    <div class="Cont-info">
        <h1>Contact me</h1>
    </div>
    <div class="Con-container">
        <div class="contact-me-info">
            <div class="Con-box">
                <div class="text">
                    <h3>Address</h3>
                    <p>Gjuterigatan 5, 553 18 <br>Jönköping<br> </p>
                </div>
            </div>
            <div class="Con-box">
                <div class="text">
                    <h3>Phone</h3>
                    <p>0707556605</p>
                </div>
            </div>
            <div class="Con-box">
                <div class="text">
                    <h3>Email</h3>
                    <p>faba19ye@student.ju.se</p>
                </div>
            </div>
        </div>
     
    </div>

</section>