<section id="background-info">
    <div class="Container">
        <h1>Hi, My Name is Bahja</h1>
        <a href="#" type="button" class="mywork">welcome to my website</a>
    </div>
</section>
<!--Lagnguges that i know-->

<Section id="experience">
    <div class="Container">
        <a href="#">
            <h1>Experience</h1>
        </a>
    </div>
</Section>
<section id="Experience-boxes">
    <div class="Container">
        <div class="box">
            <h4>C programming</h4>
            <img src="/images/C.jpg" alt="" width="40%">
            <div class="bar">
                <div class="bar-item tooltip" data-tooltip="5%" style="width:55%;">55%</div>
            </div>
        </div>
        <br>
        <div class="box">
            <h4>C++ programming</h4>
            <img src="/images/C++.jpg" alt="" width=40%>
            <div class="bar">
                <div class="bar-item tooltip" data-tooltip="5%" style="width:55%;">45%</div>
            </div>
        </div>
        <br>
        <div class="box">
            <h4>HTML AND CSS</h4>
            <img src="/images/html-css.jpg" alt="" width=40%>
            <div class="bar">
                <div class="bar-item tooltip" data-tooltip="5%" style="width:55%;">55%</div>
            </div>
        </div>
    </div>
    <br>
</section>