<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB</title>
    <link rel="stylesheet" href="/dist/login.css">
</head>
<form method="get" action="/home">
   <button class="btn-group" type="submit">Home</button>
</form>
<form class="login-box" action="/login" method="post">
   <h1>Login</h1>
   <input type="text" name="username"placeholder="username">
   <input type="password" name="password"placeholder="password">
   <input type="submit" value="Login">
</form>
</html>